@font-face {
  font-family: 'EnglishTowne';
  src: url('../fonts/EnglishTowne.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/Metropolis.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.dark {
  background-color: #9B2335;
}

.light {
  background-color: #337ab7;
}

.logo-text {
  color: #ffffff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: EnglishTowne, serif;
  small {
    font-family: Metropolis, serif;
    color: #ffffff;
  }
}

.thumbnail {
  min-height: 5rem !important;
}

.thumbnail.book {
  min-height: 700px !important;
}

.date {
  font-size: 1rem;
}

.caption {
  min-height: 100px !important;
}

.book-title {
  font-size: 2rem;
  font-weight: bold;
}

.book-description {
  font-size: 1.5rem;
  font-weight: normal;
}

.book-author {
  font-size: 1.5rem;
  font-style: italic;
}

button {
  width: 100% !important;
}